.player_list {
  color: #eeeeee;
}
.title {
  color: #eeeeee;
  padding: 10px;
  text-align: center;
}
.no_match {
  color: #ff0000;
  text-align: center;
}
.filter_option {
  text-align: center;
  margin-bottom: 10px;
}
.filter_option select {
  margin-left: 5px;
}
.listing {
  background-color: rgba(120, 122, 145, 0.7);
  border: 1px solid #787a91;
  border-radius: 25px;
}
.listing,
.listing_heading {
  margin: 15px auto;
  height: 50px;
}
.hover:hover {
  background-color: rgba(120, 122, 145, 1);
  transform: scale(1.1);
}
.listing div {
  margin: 0 30px;
}
.listing_heading > div {
  margin: 0 30px 0 45px;
}
.listing div,
.listing_heading div {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
}
.listing div p {
  margin-top: 10px;
}
.listing div a {
  color: #eeeeee;
  text-decoration: none;
}
.listing_heading .player_name {
  margin-left: 15px;
}
.width {
  width: 130px;
}
.width_20 {
  width: 20%;
}
.width_50 {
  width: 50%;
}
.width_90 {
  width: 95%;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination p {
  margin-right: 20px;
}
.select_player_div {
  padding: 5px 10px;
}
.select_player_btn {
  background-color: #141e61;
  border-radius: 10px;
  color: #eeeeee;
  height: 40px;
  width: 100px;
}
.select_player_btn:hover {
  background-color: #0f044c;
  transform: scale(1.04);
}

.captain_indicator {
  color: rgb(236, 95, 95);
  font-weight: bolder;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .width_50 {
    width: 75%;
  }
}

@media only screen and (max-width: 760px) {
  .width_50,
  .width_75 {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .listing div,
  .listing_heading div {
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 430px) {
  .listing div,
  .listing_heading > div {
    margin: 0;
  }
}
