
.contestListContainer {
    color: #eeeeee;
}.title {
    padding: 10px;
    text-align: center;
    font-size: 30px;
  }

.contest-heading {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.contest-heading > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.contestRowContainer > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.contestRowContainer > div > div{
    align-content: center;
    justify-items: center;
}

.contestRowContainer {
    background-color: rgba(120, 122, 145, 0.7);
    border: 1px solid #787a91;
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
  }
.contestRowContainer div {
    margin: 0 30px;
  }
.contestRowContainer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 0;
    align-items: center;
  }
.btnJoinContest {
    background-color: #1cd353;
    border-radius: 10px;
    color: #020202;
    height: 45px;
    width: 130px;
    text-align: center;
    font-size: medium;
    margin-left: 40px;
}
.btnJoinContest:disabled {
    background-color: #818382;
    color: #3a3939;
}